/* Directory */

.directory-container {
    background-color: #a182765e;
    overflow: hidden;
}

.directory-recipes {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.heading {
    text-align: center;
    font-size: 20px;
    color: #a18276;
    padding-top: 20px;
    letter-spacing: 1px;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: rgb(245, 242, 242);
}

.link:visited {
    color: rgb(245, 242, 242);
    text-decoration: none;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .directory-container {
        background-color: #a182765e;
        overflow: hidden;
    }
    
    .directory-recipes {
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .directory-container {
        background-color: #a182765e;
        overflow: hidden;
    }
    
    .directory-recipes {
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}
